/*-- scss:defaults --*/

$primary: #0099EE !default;
$primary-light: #E0F9FF !default;
$secondary: #CC0C00 !default;
$secondary-light: #FFEAEA !default;
$neutral: #5E5E5E !default;
$neutral-light: #999 !default;
$line-color: #DEE2E6 !default;
$background-color: #f8f9fa !default;
$font-size-root: 18px !default;
$toc-font-size: 15px !default;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

@font-face {
  font-family: 'Luciole';
  font-style: normal;
  font-weight: normal;
  src: url('../_css/fonts/Luciole-Regular.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Luciole';
  font-style: bold;
  font-weight: bold;
  src: url('../_css/fonts/Luciole-Bold.ttf') format('truetype');
  text-rendering: optimizeLegibility;
}

p.subtitle.lead {
  font-size: 24px;
  color: $primary;
}

body {
  text-align: justify !important;
}

.cb1 {
  font-weight: bold;
  color: $primary;
}

.cb2 {
  font-weight: bold;
  color: $secondary;
}

.nb {
  font-weight: bold;
  color: $neutral-light;
}

.nc {
  background-color: $background-color;
  color: $neutral;
}

.str {
  background-color: $background-color;
  color: #20794D;
}

div.callout-title-container {
  font-size: $font-size-root;
  margin-bottom: 0.3rem;
}

div.callout-body-container.callout-body > p {
  font-size: $font-size-root - 1;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

div.callout-note.callout-style-default > .callout-header {
  background-color: $primary-light;
}

div.callout-note.callout {
  border-left-color: $primary;
}

div.callout-important.callout-style-default > .callout-header {
  background-color: $secondary-light;
}

div.callout-important.callout {
  border-left-color: $secondary;
}

h2#toc-title {
  font-size: $font-size-root;
  font-weight: bold;
}

div#quarto-margin-sidebar {
  padding-left: 1rem;
  border-left: 1px solid $line-color;
  background-color: lighten($primary-light, 2.5%);
}

.sidebar-title {
  color: $primary;
  text-align: center;
  font-size: 1.4rem;
}

div.sidebar-item-container .active {
  font-weight: bold;
}

.sidebar nav[role=doc-toc] > ul a {
  border-left: 1px solid $line-color;
}

.sidebar nav[role=doc-toc] ul > li > a.active,
.sidebar nav[role=doc-toc] ul > li > ul > li > a.active {
  font-weight: bold;
  border-left-width: 3px;
}

h1, h2, h3 {
  color: $primary;
}

h2, h3, h4, h5 {
  margin-top: 1.5em;
  margin-bottom: 1rem;
}

h1, h2, h3, h4, h5 {
  border-bottom: 1px solid $line-color;
  padding-bottom: 0.3rem;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  margin-left: 0.5rem;
  font-size: 1.4rem;
  font-weight: bold;
}

h3 {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: normal;
}

h4 {
  margin-left: 2rem;
  font-size: 1.1rem;
}

h5 {
  margin-top: 1.5em;
  margin-left: 2.5rem;
  font-size: 1rem;
}

.quarto-section-identifier {
  font-weight: normal;
  color: $neutral;
}

div.sourceCode {
  background-color: $background-color;
}

code.sourceCode, pre code {
  font-family: "Overpass Mono";
  font-size: $font-size-root - 4;
}

pre code {
  color: $neutral;
}

code {
  color: $primary;
}

code span.do {
  font-style: inherit;
}

code span.op {
  color: $neutral;
}

code a:any-link {
  text-decoration: underline;
  text-decoration-color: $line-color;
}

.quarto-float-caption {
  font-weight: bold;
  line-height: 1.2;
  color: #111;
}

.quarto-float-subcaption {
  font-weight: normal;
  font-size: .8rem;
  color: $neutral;
}

figure.quarto-float-fig {
  padding-bottom: 1em;
}

figure.quarto-float-tbl figcaption.quarto-float-caption-top {
  margin-top: 2em;
  margin-bottom: .15rem;
  text-align: left;
}

.gslide-desc {
  font-weight: bold;
}

div.csl-right-inline {
  padding-left: 0;
  padding-bottom: 0.5em;
}
